@model Airport.Models.Schedule

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редакция</h1>

<h4>Разписание</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="flightId" />
            <div class="form-group">
                <label asp-for="airlineId" class="control-label"></label>
                <select asp-for="airlineId" class="form-control" asp-items="ViewBag.airlineId"></select>
                <span asp-validation-for="airlineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="destinationId" class="control-label"></label>
                <select asp-for="destinationId" class="form-control" asp-items="ViewBag.destinationId"></select>
                <span asp-validation-for="destinationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheduleDate" class="control-label"></label>
                <input asp-for="scheduleDate" class="form-control" />
                <span asp-validation-for="scheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureTime" class="control-label"></label>
                <input asp-for="departureTime" class="form-control" />
                <span asp-validation-for="departureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-info" asp-action="Index">Обратно в списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
