@{
    ViewData["Title"] = "Home Page";
}
<div class="position-absolute bgjet"></div>
<div class="text-center">
    <h1 class="display-4 text-white">Добре дошли!</h1>
    <p class="text-white">Авиокомпания</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.ActionLink("Index", "Tickets")" class = "btn btn-info"><i class="fa-solid fa-clock-rotate-left"></i> История на резервации</a>
    }
</div>
