@model Airport.Models.Airline

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете избрания елемент?</h3>
<div>
    <h4>Авиокомпания</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="airlineId" />
        <input type="submit" value="Изтрий" class="btn btn-sm btn-danger" />
        <a class="btn btn-sm btn-info" asp-action="Index">Обратно в списъка</a>
    </form>
</div>
